name: Push Docker Image
on: 
  push: 
    branches: ['main']
jobs:
  push_to_registry:
    name: Push Docker image to hub.ncsa.illinois.edu
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Log in to hub.ncsa.illinois.edu
        uses: docker/login-action@v1
        with:
          registry: hub.ncsa.illinois.edu
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: hub.ncsa.illinois.edu/clowder/generator:latest
